*{
	margin: 0;
	padding: 0;
	list-style-type: none;
}

html,body{
	height: 100%;
}

body{
	background: #f6f6f6;
}

.fullHeight{
	height: 100%;
}

#output{
	margin: 1%;
	background: #fff;
	position: relative;
	border: 1px solid #ccc;
	box-shadow: 0 0 11px 4px rgba( 0,0,0,0.1 );
	height: 94%;
}

#output > li{
	border-bottom: 1px solid #ccc;
	overflow: hidden;
}

#sparklineContainer{
	width: 300px;
	height: 200px;
	background: #fff;
	float:left;
}

#centerMarker{
	position: absolute;
	z-index: 2;
	border-bottom: 2px dashed orange;
	left: 0;
	top: 99px;
	width: 300px;
}

#controls{
	margin-top: 5%;
}

#controls button.dataGeneration{
	width: 171px;
}
#controls input{
	width: 159px;
}

#controls .numberOfCharts button{
	vertical-align: top;
}

#controls .numberOfCharts input{
	width: 84px;
}